version: '3'

services:
  db_hackathonapp:
    image: postgres:alpine3.18
    container_name: db_hackathonapp
    restart: always
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: password
      POSTGRES_DB: hackathonapp
    ports:
      - '5432:5432'
    volumes:
      - postgres_hackathonapp_data:/data/db
volumes:
  postgres_hackathonapp_data:
    driver: local
