.teammates {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: 24px;

	@media (max-width: $mantine-breakpoint-sm) {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	@media (max-width: $mantine-breakpoint-xs) {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}
}

.card {
	cursor: pointer;
	min-height: 356px;
}

.active {
	grid-column: 1;
	grid-column-end: 3;
	grid-row: 1;
	grid-row-end: 6;

	@media (max-width: $mantine-breakpoint-sm) {
		grid-column: span 3 / span 3;
		grid-row: 1;
	}
}

.expanded .card:not(.active) {
	opacity: 0.4;
	pointer-events: none;
	grid-column-start: 3;
	min-height: 128px;

	@media (max-width: $mantine-breakpoint-sm) {
		grid-column: span 3 / span 3;
	}
}
